.body {
    text-align: center;
}

.main {
    min-height: 400px;
    background: #2c418d;
}

.table {
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
}

.input {
    margin-top: 50px;
    width: 300px;
}

.create_btn {
    margin-top: 10px;
}

.error_log{
    margin-top: 10px;
    color: red;
    font-weight: 600;
}